<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.muguang.core.mapper.TagMapper">

    <insert id="insertArticleTag">
        insert into article_tag values
        <foreach collection="tagIds" item="tagId" separator=",">
            (null,  #{articleId}, #{tagId})
        </foreach>
    </insert>

    <delete id="deleteArticleTagByArticleId">
        delete from article_tag where article_id = #{id};
    </delete>

    <delete id="deleteArticleTagByTagId">
        delete from article_tag where tag_id = #{tagId}
    </delete>


    <select id="getPerTagArticlesNums" resultType="hashmap">
        select t.tag_name AS tagName, count(article_id) AS count from tag t left join article_tag at on t.id = at.tag_id group by t.id
            <where>
                <if test="tagName != null">
                    and tag_name like concat('%', #{tagName}, '%')
                </if>
            </where>
    </select>

    <select id="selectTagByName" resultType="com.muguang.core.entity.Tag">
        select * from tag where tag_name like concat('%', #{tag_name}, '%')
    </select>

</mapper>